
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

:root {
    --primary-red-bg:  hsl(0, 100%, 74%);
    --primaary-green: hsl(154, 59%, 51%);
    --accent-blue:hsl(248, 32%, 49%);
    --neutral-dark-blue:  hsl(249, 10%, 26%);
    --neutral-grayech-blue: hsl(246, 25%, 77%);
}


*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(./images/bg-intro-mobile.png);
    background-repeat: no-repeat;
    background-color: var(--primary-red-bg);
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

#wrapper {
    padding: 2rem 1rem ;
}

.description {
    color: white;
    text-align: center;
}

.description h1 {
    font-size: 42px;
    margin-bottom: 1rem;
}

span {
    font-weight: 700;
}

.signup__container div {
    background-color: var(--accent-blue);
    color: white;
    padding: 0.8rem;
    text-align: center;
}

.signup__container div, form {
    border-radius: 6px;
    margin-top: 2rem;
    box-shadow: 1px 6px 3px -2px var(--neutral-dark-blue) ;
}

form {
    background-color: white;
    padding: 2rem;  
    margin-top: 1.5rem;
    display: block;
}

input, button {
    width: 100%;
    padding: 1rem;
    border-radius: 6px;
    margin-top: 1rem;
    border: 1px solid var(--neutral-grayech-blue);
}

.error {
    background: url(./images/icon-error.svg) no-repeat 95%;
}

label {
    display: none;
    color: var(--primary-red-bg);
    text-align: right;
}

label, form p {
    font-size: 10px;
}

form p {
    margin-top: 1rem;
    text-align: center;
}

button {
    border: none;
    background-color: var(--primaary-green);
    color: #fff;
    box-shadow: 1px 6px 3px -2px green;
}

.terms__servises {
    color: var(--primary-red-bg);
}

@media (min-width: 49.375em){
    body {
        max-width: 60em;
        margin: auto;
        background-image: url(./images/bg-intro-desktop.png);
        background-repeat: no-repeat;
    }
    #wrapper{
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
    }
    
    .description{
        text-align: left;
    }

    .description, .signup__container {
        flex: 1;
    }
}

